<!--    Información IA & Machine Learning -->
<section class="content">
    <div *ngFor="let IA of cv.dataIA">   
        <div class="block-content">
        
            <h3 class="block-title">{{IA.Nombre}}</h3>
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="post">
                        <div class="post-thumbnail">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="{{IA.youtube}}" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="post-title">
                            <a href="#"><h2>{{IA.Titulo}}</h2></a>
                            <p class="post-info">
                                <span class="post-author">Realizado por {{IA.Autor}}</span>
                                <span class="slash"></span>
                                <span class="post-date">{{IA.Fecha}}</span>
                                <span class="slash"></span>
                                <span class="post-catetory">{{IA.Lenguajes}}</span>
                            </p>
                        </div>
                        <div class="post-body">
                            <a class="btn" target="_blank" href="{{IA.youtube}}">Ver Mas</a>
                        </div>
                        <h3 class="block-title">Problema </h3>
                        <!--<h3 class="subheading">¡Hola! soy Nelson Gonzalez Contreras <strong>Programador BackEnd & Cientifico de datos Junior</strong></h3>-->
                        <p style="text-align: justify;">En el problema propuesto por Ringa Tech, se plantea el uso de una red neuronal convolucional pre-entrenada proveniente de TensorFlow Hub. El objetivo inicial es emplear esta red para desarrollar un clasificador capaz de distinguir entre tenedores, cucharas y cuchillos utilizando Python y TensorFlow. Aunque el problema original parecía relativamente sencillo, decidí ir más allá y proponer mi propio desafío.

                            Mi enfoque consistió en crear un clasificador de imágenes que pudiera identificar equipos de fútbol colombianos. Para ello, adapté la red neuronal entrenada, reconfigurando las dimensiones de entrada y salida para trabajar con 21 equipos en lugar de las 3 categorías iniciales. Esta ampliación del problema implicó un mayor nivel de complejidad y requirió modificaciones en el código original proporcionado por Ringa Tech.
                            
                            A lo largo de nuestra interacción, exploramos diversas temáticas relacionadas con la solución propuesta. Abordamos la carga de modelos pre-entrenados desde TensorFlow Hub, la importancia de establecer las dimensiones de entrada adecuadas, así como la aplicación del aumento de datos mediante la función ImageDataGenerator. También destacamos la relevancia de verificar la compatibilidad de versiones y asegurarnos de tener instaladas las dependencias necesarias</p>
                        <p class="logros-title"></p>
                        <p style="text-align: justify;">
                        <a href="" target="_blank">
                        <i class="ion-social-github github-icon" style="font-size: 34px;"></i>
                        </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-content">
        <h3 class="block-title">En Construcción</h3>
            <h3 class="subheading"> <strong></strong></h3>
            <p style="text-align: justify;"></p>
         <img src="assets/images/portfolio/Pagina-en-construccion.jpeg" alt="En espera">             
        
    </div>
</section>