<!--    Información IA & Machine Learning -->
<section class="content">
    <div *ngFor="let IA of cv.dataIA">   
        <div class="block-content">
        
            <h3 class="block-title">{{IA.Nombre}}</h3>
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="post">
                        <div class="post-thumbnail">
                        </div>
                        <div class="post-title">
                            <a href="#"><h2>{{IA.Titulo}}</h2></a>
                            <p class="post-info">
                                <span class="post-author">Realizado por {{IA.Autor}}</span>
                                <span class="slash"></span>
                                <span class="post-date">{{IA.Fecha}}</span>
                                <span class="slash"></span>
                                <span class="post-catetory">{{IA.Lenguajes}}</span>
                            </p>
                        </div>
                        <div class="post-body">
                            <a class="btn" target="_blank" href="{{IA.youtube}}">Ver Mas</a>
                        </div>
                        <div class="container">
                            <p style="text-align: justify;">{{IA.Subtexto1}}</p>
                            <div class="texto-imagen">
                              <div class="texto-contenedor">
                                <p style="text-align: justify;">{{IA.Subtexto2}}</p>
                              </div>
                              <img src="assets/images/ImagenesIA/{{IA.imagen}}" alt="ImagenesIA" class="imagen">
                              </div>
                            <p style="text-align: justify;">{{IA.Subtexto3}}</p>
                            <p style="text-align: justify;">{{IA.Texto1}}</p>
                            <p style="text-align: justify;"></p>
                          </div> 
                        <!-- Solucion dada-->                                                                   
                        <p class="logros-title">Solución</p>
                            <div class="container">
                        
                                <div class="texto-imagen">
                                        <img src="assets/images/ImagenesIA/Solucion.jpeg" alt="ImagenesIA" class="imagen">
                                    <div class="texto-contenedor">
                                            <p style="text-align: justify;">Para determinar el número de equipos colombianos en 2023 y clasificar sus escudos mediante una red neuronal, seguí un proceso riguroso. Descargué y limpié manualmente las imágenes de los escudos, asegurándome de incluir solo los escudos correspondientes a cada equipo. Luego, utilicé la plataforma Colab para cargar los datos y modificar el código proporcionado por Ringa Tech.
                                            </p>
                                    </div>
                                    
                                </div>
                                    <p style="text-align: justify;">Durante las pruebas, analicé las gráficas de precisión y pérdida en 100 épocas, aunque noté que se requerían más épocas para un aprendizaje más efectivo. Algunos equipos con escudos únicos, como Alianza Petrolera y Águilas Doradas, se clasificaron correctamente, pero hubo desafíos con equipos como Millonarios y América de Cali debido a similitudes en sus escudos.
                                    </p>
                                    <p style="text-align: justify;">A pesar de los desafíos, este enfoque de aprendizaje automático mostró su potencial para determinar el número de equipos colombianos y clasificar sus escudos. Aunque se necesita continuar mejorando la precisión, este proceso demuestra cómo las redes neuronales pueden resolver problemas de clasificación en el contexto del fútbol colombiano.</p>
                            </div> 
                        <!-- Conclusiones -->
                        <p class="logros-title">Conclusiones</p>
                            <div class="container">
                        
                                <ul class="logros-list">
                                    <li style="text-align: justify;">La adaptación de una red neuronal pre-entrenada para clasificar escudos de equipos de fútbol colombianos demostró la capacidad de las redes neuronales para resolver problemas de clasificación en contextos específicos. A pesar de las similitudes entre algunos escudos,
                                         el enfoque mostró potencial para identificar correctamente los escudos únicos.</li>
                                    <li style="text-align: justify;">El proceso de descarga y limpieza manual de las imágenes de los escudos fue un paso crucial para garantizar la calidad de los datos de entrenamiento. 
                                        Esta etapa manual permite asegurarse de que solo se incluyan los escudos correspondientes a cada equipo y evita confusiones y ruido en los datos.</li>
                                    <li style="text-align: justify;">Aunque el aprendizaje automático de la red neuronal mostró resultados prometedores, se reconoce que se requiere más tiempo de entrenamiento y ajustes para mejorar la precisión en la clasificación 
                                        de escudos de equipos con similitudes visuales, como Millonarios y América de Cali. 
                                        Esto destaca la importancia de la adaptación del modelo y la necesidad de seguir refinando y optimizando el enfoque para lograr resultados aún más precisos en el futuro.</li>
                                </ul>
                                    
                            </div> 
                        <!-- Consideraciones y mejoras -->
                        <p class="logros-title">Recomendaciones y aspectos a mejorar</p>
                            <div class="container">
                        
                                <ul class="logros-list">
                                    <li style="text-align: justify;">Dependiendo de la complejidad de los escudos y la cantidad de equipos a clasificar, puede ser necesario ajustar la arquitectura de la red neuronal utilizada. Esto puede incluir cambios en las capas, el tamaño de los filtros y la cantidad de neuronas en cada capa, así como la incorporación de técnicas como la regularización o la normalización de los datos.</li>
                                    <li style="text-align: justify;">Hacer una limpieza más exhaustiva de las imagenes.</li>
                                    <li style="text-align: justify;">Tener datasets similares al descargarlos ya que en el proceso se necesita ajustarlo al equipo con menos imagenes.</li>                                 
                                    <li style="text-align: justify;">Sensibilidad a los espacios al nombrar las carpetas creadas en Colab.</li>                                 
                                    
                                </ul>
                                    
                            </div> 
                        
                        <p class="logros-title">Repositorio GitHub</p>
                        <p style="text-align: justify;"> Presionando el icono de GitHub los redireccionará al repositorio donde
                            encontraran el codigo fuente utilizado y los datasets de cada equipo en archivos rar.
                            <a href="https://github.com/gonzo120/Clasificador_EquiposColombianos" target="_blank">
                            <i class="ion-social-github github-icon" style="font-size: 34px;"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-content">
        <h3 class="block-title">Más proyetos</h3>
            <h3 class="subheading"> <strong></strong></h3>
            <p style="text-align: justify;"></p>
            <img src="assets/images/portfolio/Preparando1.jpeg" alt="En espera" class="imagen">
            <p class="referencia">Imagen tomada de: <a href="https://co.pinterest.com/pin/693272936369949951/">https://co.pinterest.com/pin/693272936369949951/</a></p>
                  
        
    </div>
</section>