<!--    Información IA & Machine Learning -->
<section class="content">
    <div class="block-content" *ngFor="let IA of cv.dataIA">   
        
        
            <h3 class="block-title">{{IA.Nombre}}</h3>
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="post">
                        <div class="post-thumbnail">
                        </div>
                        <div class="post-title">
                            <a href="#"><h2>{{IA.Titulo}}</h2></a>
                            <p class="post-info">
                                <span class="post-author">Realizado por {{IA.Autor}}</span>
                                <span class="slash"></span>
                                <span class="post-date">{{IA.Fecha}}</span>
                                <span class="slash"></span>
                                <span class="post-catetory">{{IA.Lenguajes}}</span>
                            </p>
                        </div>
                        <div class="post-body">
                            <a class="btn" target="_blank" href="{{IA.youtube}}">Ver Mas</a>
                        </div>
                        <div class="container">
                            <p style="text-align: justify;">{{IA.Subtexto1}}</p>
                            <div class="texto-imagen">
                              <div class="texto-contenedor">
                                <p style="text-align: justify;">{{IA.Subtexto2}}</p>
                              </div>
                              <ng-container *ngIf="IA.imagen">
                              <img src="assets/images/ImagenesIA/{{IA.imagen}}" alt="ImagenesIA" class="imagen"></ng-container>
                              </div>
                            <p style="text-align: justify;">{{IA.Subtexto3}}</p>
                            <p style="text-align: justify;">{{IA.Texto1}}</p>
                            <p style="text-align: justify;"></p>
                          </div> 
                        <!-- Solucion dada-->                                                                   
                        <p class="logros-title">{{IA.Solucion}}</p>
                            <div class="container">
                        
                                <div class="texto-imagen"><ng-container *ngIf="IA.imagen2">
                                        <img src="assets/images/ImagenesIA/{{IA.imagen2}}" alt="ImagenesIA" class="imagen"></ng-container>
                                    <div class="texto-contenedor">
                                            <p style="text-align: justify;">{{IA.DescripcionSolucion}}</p>
                                    </div>
                                    
                                </div>
                                    <p style="text-align: justify;">{{IA.DescripcionSolucion2}}</p>
                                    <p style="text-align: justify;">{{IA.DescripcionSolucion3}}</p>
                            </div> 
                        <!-- Conclusiones -->
                        <p class="logros-title">{{IA.ConclusionesTitulo}}</p>
                            <div class="container">
                                <ng-container *ngIf="IA.Conclusion1">
                                <ul class="logros-list">
                                    <li style="text-align: justify;">{{IA.Conclusion1}}</li>
                                    <li style="text-align: justify;">{{IA.Conclusion2}}</li>
                                    <li style="text-align: justify;">{{IA.Conclusion3}}</li>
                                </ul></ng-container>
                                    
                            </div> 
                        <!-- Consideraciones y mejoras -->
                        <p class="logros-title">{{IA.RecomendacionesTitulo}}</p>
                            <div class="container">
                                <ng-container *ngIf="IA.Recomendacion1">
                                <ul class="logros-list">
                                    <li style="text-align: justify;">{{IA.Recomendacion1}}</li>
                                    <li style="text-align: justify;">{{IA.Recomendacion2}}</li>
                                    <li style="text-align: justify;">{{IA.Recomendacion3}}</li>                                 
                                    <li style="text-align: justify;">{{IA.Recomendacion4}}</li>                                 
                                    
                                </ul></ng-container>
                                    
                            </div> 
                        
                        <p class="logros-title">{{IA.GithubTitulo}}</p>
                        <p style="text-align: justify;"> {{IA.DescripcionRepositorio}}
                            <a href="{{IA.LinkGit}}" target="_blank">
                            <i class="ion-social-github github-icon" style="font-size: 34px;"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        
    </div>
   
    
    <div class="row text-center">
        <div class="col-md-12 btn-email">
            <a class="btn lowercase">Gonzalez.Contreras.nelson@gmail.com</a>
        </div>
    </div>
</section>