
    <section class="content" id="about">
        <div class="block-content">
            <h3 class="block-title">Perfil</h3>
            <h3 class="subheading">¡Hola! soy Nelson Gonzalez Contreras <strong>Programador Fullstack</strong></h3>
            <p style="text-align: justify;">Ingeniero mecatrónico con experiencia destacada en el desarrollo de aplicaciones Full stack, utilizando HTML, CSS, 
                TypeScript y Python. En conjunto con frameworks como Angular, React, JavaScript (incluyendo Express y NodeJS), 
                NestJS y Java. Competente en la gestión de bases de datos tanto Relacionales (MySQL, PostgreSQL) como NoSQL 
                (MongoDB y Firebase). Poseo una sólida comprensión de la programación Full Stack, que está respaldada por 
                habilidades fundamentales como trabajo en equipo, orientación a resultados y un compromiso firme con la excelencia. 
                Además, poseo conocimientos en gobierno de datos, Big Data Analytics y gestión de presupuestos. He implementado 
                prácticas eficientes y limpias en el desarrollo de aplicativos, haciendo uso de herramientas avanzadas de desarrollo y 
                versionado como Bitbucket, GitLab y GitHub para un control de versiones. Con el objetivo de contribuir al desarrollo de 
                soluciones tecnológicas innovadoras y ser partícipe de equipos exitosos.
                </p>
            <div class="info-list row">
                <div class="col-sm-6"><span>Interes : </span> Full-Time</div>
                <div class="col-sm-6"><span>Dirección : </span> Colombia, Bogotá D.C.</div>
                <div class="col-sm-6"><span>Telefono : </span> + 57 3213466471</div>
                <div class="col-sm-6"><span>Email : </span> Gonzalez.Contreras.Nelson@gmail.com</div>
            </div>
        </div>
        <div class="block-content"> 
            <h3 class="block-title">Lenguajes de Programación</h3>
            <!--  Aqui hacemos un ng for para utilizar los servicios traidos de firebase-->
      
            <div *ngFor="let profex of cv.dataProfesional">
                <label class="progress-bar-label">{{profex.nombre}}</label>
                
            </div>
            
        </div>
        <div class="block-content">
            <h3 class="block-title">Experiencia</h3>
            <div class="timeline experience">
                <div class="row">
                    <div class="col-md-12">
                        <div class="exp-holder">
                            <div *ngFor="let Experiencia of cv.dataExperiencia">
                                <div class="exp">
                                    <div class="hgroup">
                                        <h4><span>{{Experiencia.Empresa}}</span></h4>
                                        <h5><span class="current">{{Experiencia.Fecha}}</span></h5>
                                    </div>
                                    <p style="text-align: justify;">{{Experiencia.Descripcion}}</p>
                                    <p style="text-align: justify;">{{Experiencia.Descripcion1}}</p>
                                    <p style="text-align: justify;">{{Experiencia.Descripcion2}}</p>
                                    <p class="logros-title">Logros</p>
                                        <ul class="logros-list">
                                            <li style="text-align: justify;">{{Experiencia.Logros.Uno}}</li>
                                
                                            <li style="text-align: justify;" *ngIf="Experiencia.Logros.Dos">{{Experiencia.Logros.Dos}}</li>
                                            <li style="text-align: justify;" *ngIf="Experiencia.Logros.Tres">{{Experiencia.Logros.Tres}}</li>
                                            <li style="text-align: justify;" *ngIf="Experiencia.Logros.Cuatro">{{Experiencia.Logros.Cuatro}}</li>
                                        </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-content">
            <h3 class="block-title">Educación</h3>
            <div class="timeline education">
                <div class="row">
                    <div class="col-md-12">
                        <div class="exp-holder">
                            <div *ngFor="let Estudios of cv.dataEducacion">
                                <div class="exp">
                                    <div class="hgroup">
                                        <h4>{{Estudios.Carrera}} | <span>{{Estudios.Nombre}}</span></h4>
                                        <h5>{{Estudios.Fecha}}</h5>
                                    </div>
                                    <p style="text-align: justify;">{{Estudios.Descripcion}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-content">
            <h3 class="block-title">Educación Informal</h3>
            <div class="timeline education">
                <div class="row">
                    <div class="col-md-12">
                        <div class="exp-holder">
                            <div *ngFor="let EstudiosInformal of cv.dataEducacion_informal">
                                <div class="exp">
                                    <div class="hgroup">
                                        <h4>{{EstudiosInformal.Nombre}} | <span>{{EstudiosInformal.Empresa}}</span></h4>
                                        <h5>{{EstudiosInformal.Fecha}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-content">
            <h3 class="block-title">Servicios</h3>
            <div class="row">
                <div class="col-md-4 col-sm-6" *ngFor="let Habilidades of cv.dataHabilidades">
                  <div class="service">
                    <div class="service-icon">
                      <i class="{{Habilidades.Icono}}"></i>
                    </div>
                    <h4>{{Habilidades.Nombre}}</h4>
                    <p style="text-align: justify;">{{Habilidades.Descripcion}}</p>
                  </div>
                </div>
              </div>
              
        </div>
        <div class="row text-center">
            <div class="col-md-12 btn-email">
                <a class="btn lowercase">Gonzalez.Contreras.Nelson@gmail.com</a>
            </div>
        </div>
    </section>

