<section class="content">
    <div class="block-content" id="inicio">
        <h3 class="block-title">Proyectos Personales</h3>
        <p style="text-align: justify;">
          Esta sección destaca una muestra de mis proyectos personales realizados con pasión y dedicación. Cada proyecto es un reflejo de mis habilidades como desarrollador backend y científico de datos junior. ¡Explora la lista a continuación para descubrir más sobre mis logros y experiencia en el desarrollo de aplicaciones web y análisis de datos!
        </p>
        <ng-container *ngFor="let Proyectos of cv.dataProyectosDiseno">
          <!-- Enlace a la sección de cada proyecto -->
          <a href="#{{Proyectos.Nombre}}" style="text-align: justify;">{{Proyectos.Nombre}}</a>
          <br>
        </ng-container>
      </div>

    <div *ngFor="let Proyectos of cv.dataProyectosDiseno"  class="block-content" id="{{Proyectos.Nombre}}">
        <div class="block-content">
        
            <h3 class="block-title">{{Proyectos.Nombre}} </h3>
            <!--<h3 class="subheading">¡Hola! soy Nelson Gonzalez Contreras <strong>Programador BackEnd & Cientifico de datos Junior</strong></h3>-->
            <ng-container *ngIf="Proyectos.VideoYoutube == 1" class="embed-responsive embed-responsive-16by9"> 
                
                    <div class="post">
                        <div class="post-thumbnail">
                            <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item" width="962" height="541" src="https://www.youtube.com/embed/gow24zxxWHc" title="Funcionalidad proyecto Spotify" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                               <!--  <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=gow24zxxWHc" allowfullscreen></iframe>
                            --> </div>
                        </div>
                        <div class="post-title">
                            <a href="#"><h2>Funcionalidad proyecto Spotify</h2></a>
                            <p class="post-info">
                                <span class="post-author">Realizado por Nelson Gonzalez</span>
                                <span class="slash"></span>
                                <span class="post-date">21-07-2023</span>
                                <span class="slash"></span>
                                <span class="post-catetory">Educación, Angular, MongoDB Atlas, Node.js</span>
                            </p>
                        </div>
                        <div class="post-body">
                            <a class="btn" target="_blank" href="https://www.youtube.com/watch?v=gow24zxxWHc">Ver Mas</a>
                        </div>
                    </div>
                
            </ng-container>
            <p style="text-align: justify;">{{Proyectos.Descripcion}}</p>
            <p style="text-align: justify;">{{Proyectos.Descripcion2}}</p>
            <p style="text-align: justify;">{{Proyectos.Descripcion3}}</p>
            <p class="logros-title">{{Proyectos.Informacion}}</p>
            <p style="text-align: justify;">{{Proyectos.InfoGit}}
                <ng-container *ngIf="Proyectos.GitHub">
                    <!-- Muestra el icono de GitHub -->
                    <a href="{{Proyectos.GitHub}}" target="_blank">
                      <i class="ion-social-github github-icon" style="font-size: 34px;"></i>
                    </a>
                  </ng-container>
            </p>
            <p class="logros-title">{{Proyectos.Encargado}}</p>
            <p style="text-align: justify;">{{Proyectos.infoPersonal}}</p>
            <ng-container *ngIf="Proyectos.Imagen">
            <a href="{{Proyectos.Url}}" target="_blank" style="position: relative; display: inline-block;">
                <div style="position: relative;">
                  <img src="assets/images/portfolio/{{Proyectos.Imagen}}" alt="Proyecto {{Proyectos.Nombre}}">
                  <div style="position: absolute; bottom: 0; left: 0; background-color: rgba(0, 0, 0, 0.7); color: #fff; padding: 5px;"   style="display: flex; justify-content: center; align-items: center;">
                    <p style="font-size: 14px; margin: 0;">{{Proyectos.Logo}}</p>
                  </div>
                </div>
              </a>
            </ng-container>
              
              
            <br>
            <a href="#inicio" style="text-align: justify;">Volver al inicio</a>
        </div>
        
    </div>
   
    <div class="block-content">
        <h3 class="block-title">Más Proyectos</h3>
            <h3 class="subheading"> <strong></strong></h3>
            <p style="text-align: justify;"></p>
            
                
                  <img src="assets/images/portfolio/Preparando1.jpeg" alt="En espera" class="imagen">
                  <p class="referencia">Imagen tomada de: <a href="https://co.pinterest.com/pin/693272936369949951/">https://co.pinterest.com/pin/693272936369949951/</a></p>
                
                      
        
    </div>
    <div class="row text-center">
        <div class="col-md-12 btn-email">
            <a class="btn lowercase">Gonzalez.Contreras.nelson@gmail.com</a>
        </div>
    </div>
</section>
