<section class="content">
     
    
    
        <div class="block-content">
            <h3 class="block-title">Repositorio</h3>
            <h3 class="subheading"> <strong></strong></h3>
            <p style="text-align: justify;">En mi repositorio de GitHub/Python encontraran ejercicios relacionados con el análisis de datos y data science. Estos ejercicios se basan en tutoriales y en la plataforma Kaggle, especializada en ciencia de datos. Aquí he aplicado técnicas de manipulación y visualización de datos, aprendizaje automático y exploración de conjuntos de datos reales. Esta sección destaca mi interés y experiencia en el campo del análisis de datos.</p>
            <p style="text-align: justify;">Explora el repositorio y descubre mi pasión por la programación en Python, así como mi capacidad para aplicar mis conocimientos en proyectos prácticos.
         
                <a href="https://github.com/gonzo120/Python/tree/main/Datascience" target="_blank">
                    <i class="ion-social-github github-icon" style="font-size: 34px;"></i></a>
            </p>
            
        </div>


        <div class="block-content"  *ngFor="let DScience of cv.dataScience">
              
            
            <h3 class="block-title">{{DScience.Nombre}}</h3>
                
             <div class="texto-imagen">
                <ng-container *ngIf="DScience.ImagenD">
                    <img src="assets/images/ImagenesDS/{{DScience.ImagenD}}" alt="ImagenesDataScience" class="imagen1">
                </ng-container>
                        <div class="texto-contenedor">
                                <p style="text-align: justify;">{{DScience.Descripcion}}
                                </p>
                        </div>
                        
                
                <ng-container *ngIf="DScience.ImagenI">
                    <img src="assets/images/ImagenesDS/{{DScience.ImagenI}}" alt="ImagenesDataScience" class="imagen2">
                </ng-container>
                        
             </div>
             <p style="text-align: justify;">
                {{DScience.Descripcion2}}
             </p>
             <p class="logros-title">{{DScience.Tituloresultado}}</p>
             
             <p style="text-align: justify;">
                {{DScience.Resultados}}
             </p>

        </div>
             
        <div class="row text-center">
            <div class="col-md-12 btn-email">
                <a class="btn lowercase">Gonzalez.Contreras.nelson@gmail.com</a>
            </div>
        </div>

   
    
</section>


