<section class="content">
    <!-- 
    <div class="block-content">
        <h3 class="block-title"></h3>
        <div class="row">
            <div class="col-md-10 mx-auto">
                
                <div class="post">
                    <div class="post-thumbnail">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DUxdAESy4rg?rel=0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="#"><h2>Integrar Template Dashboard HTML5 a Laravel - Parte 1</h2></a>
                        <p class="post-info">
                            <span class="post-author">Realizado por Anderson Bastidas</span>
                            <span class="slash"></span>
                            <span class="post-date">Julio 10, 2020</span>
                            <span class="slash"></span>
                            <span class="post-catetory">Educación , Laravel , PHP , Template</span>
                        </p>
                    </div>
                    <div class="post-body">
                        <a class="btn" target="_blank" href="https://youtu.be/DUxdAESy4rg">Ver Mas</a>
                    </div>
                </div>

            

            </div>
        </div>
    </div>-->
    <section class="content">
        <div class="block-content">
            <h3 class="block-title">Repositorio</h3>
            <h3 class="subheading"> <strong></strong></h3>
            <p style="text-align: justify;">En mi repositorio de GitHub/Python encontraran ejercicios relacionados con el análisis de datos y data science. Estos ejercicios se basan en tutoriales y en la plataforma Kaggle, especializada en ciencia de datos. Aquí he aplicado técnicas de manipulación y visualización de datos, aprendizaje automático y exploración de conjuntos de datos reales. Esta sección destaca mi interés y experiencia en el campo del análisis de datos.</p>
            <p style="text-align: justify;">Explora el repositorio y descubre mi pasión por la programación en Python, así como mi capacidad para aplicar mis conocimientos en proyectos prácticos.
                Proyectos que aún no he podido plasmar en mi nuevo portafolio personal.
                <a href="https://github.com/gonzo120/Python/tree/main/Datascience" target="_blank">
                    <i class="ion-social-github github-icon" style="font-size: 34px;"></i></a>
            </p>
            
        </div>
    
        <div class="block-content">
            <h3 class="block-title">En Construcción</h3>
            <h3 class="subheading"> <strong></strong></h3>
            <p style="text-align: justify;"></p>
            <img src="assets/images/portfolio/Pagina-en-construccion.jpeg" alt="En espera">
        </div>
    </section>
    
</section>
